.navbar__containerParent {
  background-color: blueviolet;
  .navbar {
    max-width: 1024px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    .navbar__logo {
      font-size: 40px;
      display: flex;
      align-items: center;
      color: rgb(255, 255, 255);
    }
  }
  .navbar__links {
    // margin-top: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
    font-weight: 600;
    color: white;
  }
}
