.navbar__containerParent {
  background-color: blueviolet;
  .navbar {
    max-width: 1024px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    .hamburgerContainer {
      display: none;
      @media (max-width: 768px) {
        display: flex;
      }
      .navbar__hamburger {
        list-style: none;
        display: none;
        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
          gap: 3px;
          padding: 0 1em 0 0;
        }

        li {
          width: 20px;
          height: 2px;
          background-color: rgb(255, 255, 255);
          border-radius: 5px;
        }
      }
    }

    .navbar__logo {
      font-size: 40px;
      display: flex;
      align-items: center;
      color: rgb(255, 255, 255);
      @media (max-width: 768px) {
        padding: 0 0.5em;
      }
    }
  }
  .navbar__links {
    cursor: pointer;
    // margin-top: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
    font-weight: 600;
    color: white;
    li {
      cursor: pointer;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
