.signIn {
  padding: 8px;
  border-radius: 4px 20px;
  background-color: blueviolet;
  color: white;
  border: none;
}
.getStarted {
  padding: 0.5em 3em;
  border-radius: 4px 20px;
  background-color: rgba(255, 57, 149, 0.845);
  color: white;
  border: none;
}
